.div1{
    /* border: 1px solid red;   */
    height: calc(100vh - 57px);
    background-color: #f8f9fa;
    /* background-color: rgb(255, 255, 255); */
}
#espaco-botao{
    /* border: 1px solid red;   */
    margin-top: 10%;
}
.div2{
    /* border: 1px solid rgb(0, 255, 200); */
     height: calc(100vh - 57px);
     /* background-color: yellow; */
     background-image: url(imagem/capa2.jfif);
     background-repeat: no-repeat;
     /* background-size: contain; */
     background-position: center;
}


.div-conteudo{
    margin-top: 25px;
    border: 1px solid red;

}
.botao1{
    border: 1px solid rgb(199, 10, 236);
    height: auto;
    width: auto;
}
.batata{
    width: 100%;
    height: 10vh;
}
.bute{
    margin-top: 25px;
    /* border: 1px solid rgb(2, 2, 2); */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: white;
    width: 100%;
    height: 10vh;
    transition: all 0.3s ease; /* suaviza a animação */
    display: flex;                /* Ativa o Flexbox */
    align-items: center;          /* Centraliza verticalmente */
    justify-content: center;      /* Centraliza horizontalmente */
    
}
.bute:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.02); /* levemente maior */
  }

  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  
  a .bute h3 {
    color: black !important;
    text-decoration: none !important;
  }
  
  /* =============================================== */

  .login {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10vh 50px 10vh 50px;
    width: 40vw;
    min-width: 300px;     /* Evita ficar estreita demais */
    max-width: 90vw;      /* Garante responsividade */
    border-radius: 10px;
  
    /* Altura agora depende do conteúdo */
    height: auto;
  }
  
  .tt {
    background-color: #f8f9fa;
    height: 100vh;
  
    /* Garante que o conteúdo da tt fique centralizado mesmo com a .login crescendo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Evita que a .login encoste nas bordas em telas pequenas */
  }
  
  #hhh {
    margin-top: 20px;
  }
  